<form method="post" action="/Todo/EnviarDatos">
    <div class="form-group">
        <label for="title">Título</label>
        <input type="text" id="title" name="title" class="form-control" />
    </div>
    <div class="form-group">
        <label for="body">Información</label>
        <textarea id="body" name="body" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="userId">ID de Usuario</label>
        <input type="number" id="userId" name="userId" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>