@model pc3.DTO.PostDTO;
<div style="display: flex;flex-flow:column;">
    <h1>Tittle:@Model.title</h1>
    <label>UserId:@Model.userId</label>
    <label>PostId:@Model.id</label>
    <span>Body:@Model.body</span>
</div>